@charset "UTF-8";
/* =========================================================
  Foundation
  ========================================================== */
/* Reset Base
  --------------------------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
  color-scheme: dark light;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(button) {
  all: unset;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(a) {
  color: inherit;
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
  text-wrap: balance;
}

:where(hr) {
  border: none;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  outline: 3px solid CanvasText;
  box-shadow: 0 0 0 5px Canvas;
  outline-offset: 1px;
}

:where(:focus-visible, :target) {
  scroll-margin-block: 8vh;
}

:where(.visually-hidden:not(:focus-within, :active)) {
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

:root {
  --liquid-size-pc: clamp(0.5rem, 1.19vw - 0.071rem, 1rem);
  --liquid-size-sp: clamp(0.75rem, 3.636vw + 0.023rem, 1rem);
  --liquid-size-base: var(--liquid-size-pc);
}
@media (width < 768px) {
  :root {
    --liquid-size-base: var(--liquid-size-sp);
  }
}

body {
  background: hsl(0, 0%, 96%);
  font-size: 1rem;
  font-family: san-serif;
  color: hsl(0, 0%, 10%);
  line-height: 1.5;
  letter-spacing: 0.05;
}

summary::-webkit-details-marker {
  display: none;
}

.grecaptcha-badge {
  visibility: hidden;
}

/* =========================================================
 *   Layout
 *========================================================== */
.l-body-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  overflow: clip;
}
.l-body-wrapper:has(.l-aside) {
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "main   aside" "footer footer";
}
@media (width < 768px) {
  .l-body-wrapper:has(.l-aside) {
    grid-template-columns: 1fr;
    grid-template-areas: "main" "aside" "footer";
  }
}

.l-header {
  grid-area: header;
}

.l-main {
  grid-area: main;
}

.l-aside {
  grid-area: aside;
  align-self: start;
}

.l-footer {
  grid-area: footer;
}

.l-modal {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.l-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.l-foreground {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
}

.l-svg-mask {
  position: fixed;
  visibility: hidden;
  top: 0;
  z-index: -9999;
}

/* =========================================================
    Object
  ========================================================== */
/* Component
  --------------------------------------------------------- */
/*汎用コンポーネント
 *********************/
.c-page-title {
  font-size: 1rem;
}

.c-section-title {
  font-size: 1rem;
}

.c-topic-title {
  font-size: 1rem;
}

.c-aside-title {
  font-size: 1rem;
}

.c-text {
  font-size: 1rem;
}
.c-text:where(.m-strong) {
  font-size: 1rem;
  color: inherit;
  font-style: normal;
}

.c-flex-texts {
  display: flex;
  flex-flow: column;
  gap: 0;
}

.c-string {
  font-size: 1rem;
}

.c-copyright {
  font-size: 0.75rem;
}

.c-main-visual {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-catch-copy {
  font-size: 1rem;
}
.c-catch-copy:where(.m-strong) {
  font-size: 1rem;
  color: inherit;
  font-style: normal;
}

.c-image-box {
  --foo: ;
}
:where(.c-image-box) > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-image {
  --foo: ;
}

.c-flex-list {
  display: flex;
}
.c-flex-list:where(.m-reverse-even):nth-child(even) {
  flex-flow: row-reverse;
}
.c-flex-list:where(.m-reverse-odd):nth-child(odd) {
  flex-flow: row-reverse;
}
.c-flex-list:where(.m-column) {
  flex-flow: column;
}

.c-flex-ordered-list {
  display: flex;
  list-style: decimal;
}

.c-nav-menu {
  display: flex;
}

.c-drop-down-menu {
  display: flex;
  flex-flow: column;
}

.c-text-link {
  --foo: ;
}
.c-text-link:hover {
  --foo: ;
}
.c-text-link:active {
  --foo: ;
}

.c-underlined-link {
  --foo: ;
}
.c-underlined-link:hover {
  --foo: ;
}
.c-underlined-link:active {
  --foo: ;
}

.c-box-link {
  display: grid;
  place-items: center;
}
.c-box-link:hover {
  --foo: ;
}
.c-box-link:active {
  --foo: ;
}

.c-site-logo {
  --foo: ;
}

.c-button {
  display: grid;
  place-items: center;
  border: 0.125rem solid myHsl(--h-s, --l-3);
  --h-s: var(--h-s-base);
  background: myHsl(--h-s, --l-3);
  color: myHsl(--h-s, --l-8);
}
.c-button:hover {
  background: myHsl(--h-s, --l-6);
  color: myHsl(--h-s, --l-9);
}
.c-button:active {
  background: myHsl(--h-s, --l-5);
  color: myHsl(--h-s, --l-8);
}

.c-circle-button {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  --h-s: var(--h-s-base);
  border: 0.125rem solid myHsl(--h-s, --l-3);
  background: myHsl(--h-s, --l-3);
  color: myHsl(--h-s, --l-8);
}
.c-circle-button:hover {
  background: myHsl(--h-s, --l-6);
  color: myHsl(--h-s, --l-9);
}
.c-circle-button:active {
  background: myHsl(--h-s, --l-5);
  color: myHsl(--h-s, --l-8);
}

.c-icon-button {
  --foo: ;
}
.c-icon-button:hover {
  --foo: ;
}
.c-icon-button:active {
  --foo: ;
}
.c-icon-button:has(span) {
  display: flex;
  flex-flow: column;
  align-items: center;
}
:where(.c-icon-button) > img {
  --foo: ;
}
:where(.c-icon-button) > span {
  --foo: ;
}

.c-hamburger-button {
  --foo: ;
}
.c-hamburger-button:hover {
  --foo: ;
}
.c-hamburger-button:active {
  --foo: ;
}
.c-hamburger-button:has(span) {
  display: flex;
  flex-flow: column;
  align-items: center;
}
:where(.c-hamburger-button) > img {
  --foo: ;
}
:where(.c-hamburger-button) > span {
  --foo: ;
}

.c-one-cell-grid {
  display: grid;
}
:where(.c-one-cell-grid) > * {
  grid-area: 1/1/2/2;
}

.c-card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  grid-template-areas: "title" "img" "desc";
}
.c-card-grid > .c-card-grid__title {
  grid-area: title;
}
.c-card-grid > .c-card-grid__image {
  grid-area: img;
}
.c-card-grid > .c-card-grid__desc {
  grid-area: desc;
}

.c-input-box {
  padding: 0;
  border-radius: 0;
  background: myHsl(--h-s, --l);
  transition: all;
}
.c-input-box:not(:-moz-read-only, :disabled):hover {
  --foo: ;
}
.c-input-box:not(:read-only, :disabled):hover {
  --foo: ;
}
.c-input-box:focus-visible {
  --foo: ;
}
.c-input-box:invalid {
  --foo: ;
}
.c-input-box:valid {
  --foo: ;
}
.c-input-box:disabled {
  --foo: ;
}

.c-input-label {
  display: flex;
  align-items: center;
  gap: 0;
}
.c-input-label::before {
  content: "任意";
  flex-shrink: 0;
  padding: 0;
  font-size: 0;
  border-radius: 0;
  --h-s: ;
  color: myHsl(--h-s, --l);
  background-color: myHsl(--h-s, --l);
}
:has(:required) > .c-input-label::before {
  content: "必須";
  --h-s: ;
}

.c-checkbox {
  display: flex;
  align-items: center;
  gap: 0;
}
.c-checkbox > input {
  --foo: ;
}
.c-checkbox > label {
  --foo: ;
}
.c-checkbox > label:hover {
  --foo: ;
}
.c-checkbox:has(:checked) > label {
  --foo: ;
}

.c-radio {
  display: flex;
  align-items: center;
  gap: 0;
}
.c-radio > input {
  --foo: ;
}
.c-radio > label {
  --foo: ;
}
.c-radio > label:hover {
  --foo: ;
}
.c-radio:has(:checked) > label {
  --foo: ;
}

.c-custom-checkbox {
  display: grid;
}
.c-custom-checkbox > * {
  grid-area: 1/1/2/2;
}
.c-custom-checkbox > input {
  opacity: 0;
  z-index: -1;
}
.c-custom-checkbox > label {
  display: flex;
  align-items: center;
  gap: 0;
  z-index: 1;
}
.c-custom-checkbox > label::before {
  content: "";
}
.c-custom-checkbox > label:hover {
  --foo: ;
}
.c-custom-checkbox:has(:checked) > label::before {
  content: "";
}

.c-custom-radio {
  display: grid;
}
.c-custom-radio > * {
  grid-area: 1/1/2/2;
}
.c-custom-radio > input {
  opacity: 0;
  z-index: -1;
}
.c-custom-radio > label {
  display: grid;
  align-items: center;
  gap: 0;
  z-index: 1;
}
.c-custom-radio > label:hover {
  --foo: ;
}
.c-custom-radio:has(:checked) > label {
  --foo: ;
}

.c-slider {
  display: grid;
}
.c-slider > .c-slider__item {
  grid-area: 1/1/2/2;
  opacity: 0;
  z-index: -1;
  transform: translate(0);
  transition: all 0.5s;
}
.c-slider > .c-slider__item.is-active {
  opacity: 1;
  z-index: 1;
  transform: translate(0);
}
.c-slider > .c-slider__item.is-prev {
  opacity: 0;
  z-index: 0;
  transform: translate(-100%);
}
.c-slider > .c-slider__item.is-next {
  opacity: 0;
  z-index: 0;
  transform: translate(100%);
}

.c-slider__button {
  --foo: ;
}
.c-slider__button:where(.m-play) {
  --foo: ;
}
.c-slider__button:where(.m-pause) {
  --foo: ;
}
.c-slider__button:where(.m-next) {
  --foo: ;
}
.c-slider__button:where(.m-prev) {
  --foo: ;
}

.c-dots {
  display: flex;
  gap: 0;
}

.c-dots__item {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.c-progress {
  --foo: ;
}

.c-pagination {
  display: flex;
  gap: 0;
}
.c-pagination > li {
  --foo: ;
}

.c-bread-crumbs {
  display: flex;
  gap: 0;
}
.c-bread-crumbs > li {
  --foo: ;
}

.c-loading-screen {
  --foo: ;
}

.c-google-map {
  --foo: ;
}

/* Project
  --------------------------------------------------------- */
/*全ページ共通
 *********************/
.p-header {
  --foo: ;
}

.p-main {
  --foo: ;
}

.p-aside {
  --foo: ;
}

.p-footer {
  --foo: ;
}

.p-modal {
  --foo: ;
}

/*個別ページ用
 *********************/
.p-[sectionName] {
  --foo: ;
}

.p-[sectionName] __content {
  --foo: ;
}

.p-[sectionName] __background {
  --foo: ;
}

.p-[sectionName] __foreground {
  --foo: ;
}

.p-first-view {
  --foo: ;
}

.p-[name] -form {
  --foo: ;
}

.p-[name] -form__list {
  --foo: ;
}

.p-[name] -form__item {
  --foo: ;
}

.p-[name] -form__submit {
  --foo: ;
}

/* Utility
  --------------------------------------------------------- */
:root {
  --side-margin: 0.9375rem;
  --font-jp-sans: "Noto Sans JP", sans-serif;
  --font-en-sans: Arial, Helvetica, sans-serif;
  --c-white: #fff;
  --c-black: #000;
  --c-light-gray-0: #eee;
  --c-light-gray-1: #ddd;
  --c-light-gray-2: #d8d8d8;
  --c-light-gray-3: #c6c6c6;
  --c-light-gray-4: #b5b5b5;
  --c-dark-gray-1: #333;
  --c-dark-gray-2: #5c5c5c;
  --c-primary: #449dd0;
  --c-primary-a-0: rgb(68 157 208/0.9);
  --c-secondary: #eef6ff;
  --c-accent-01: #177cb5;
  --c-accent-02: #4bb1ee;
  --c-line: #06c755;
}

body {
  font-family: var(--font-jp-sans);
}

em {
  font-style: normal;
}

/* detailsのマーカーを消す */
summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.c-accordion {
  --duration: 500ms;
  width: 100%;
  padding: 0;
  border-radius: 0.625rem;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  overflow: clip;
  color: #449dd0;
}

.c-accordion__question {
  display: grid;
  grid-template-columns: 1fr 1rem;
  align-items: center;
  padding: 1rem;
  font-weight: 700;
  background: #fff;
  font-size: 1.25rem;
  transition: background 0.25s linear, color 0.25s linear;
}
.c-accordion__question::before, .c-accordion__question::after {
  content: "";
  grid-area: 1/2/-1/3;
  display: grid;
  place-items: center;
  height: 2px;
  background-color: currentColor;
}
.c-accordion__question::before {
  rotate: 90deg;
  transition: rotate ease-out var(--duration);
}
.c-accordion.is-open .c-accordion__question {
  color: #fff;
  background: #449dd0;
}
.c-accordion.is-open .c-accordion__question::before {
  rotate: 0deg;
}

.c-accordion__answer {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition: grid-template-rows var(--duration) ease-out, padding-top var(--duration) ease-out, opacity var(--duration) linear;
}
.c-accordion.is-open .c-accordion__answer {
  grid-template-rows: 1fr;
  padding-top: 1rem;
  opacity: 1;
}

.c-accordion__answer-box {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  overflow: hidden;
}

/* ボタン */
.c-link-button {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 100vmax;
  color: var(--c-white);
  text-decoration: none;
  width: 100%;
  height: 100%;
  line-height: 1;
}
.c-link-button.m-reserve {
  background: var(--c-primary);
}
.c-link-button.m-consult {
  background: var(--c-line);
}
.c-link-button.m-2line {
  gap: 3px;
  font-size: 14px;
}

.c-link-button__action-text {
  display: flex;
  font-size: 9px;
  align-items: baseline;
}
.c-link-button__action-text > .c-large {
  font-size: 15px;
}
.c-link-button__action-text::before {
  content: "*";
}
.c-link-button__action-text::after {
  content: "*";
}

/* 丸アイコン */
.c-rounded-icon {
  display: grid;
  place-items: center;
  grid-template-rows: 30px 40px;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding-block: 10px;
  border: 3px solid currentColor;
  color: var(--c-primary);
  background: var(--c-white);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.3;
}
.c-rounded-icon::before {
  content: "";
  width: 30px;
  aspect-ratio: 1/1;
  background: url(../images/dummy.svg) center/cover;
}

.c-box-text {
  display: inline-grid;
  place-items: center;
  padding: 2px;
  border: 1px solid currentColor;
  color: var(--c-primary);
  background: #fff;
  font-size: 1.5em;
  line-height: 1;
}

.c-em-decoration__concern {
  font-size: 1.5em;
  background: radial-gradient(circle at center, var(--c-primary) 20%, transparent 20%) top right/1em 0.3em repeat-x;
  padding-top: 0.1em; /* 縦方向の位置調整 */
}

.c-checked-item {
  display: flex;
  align-items: center;
  position: relative;
  padding-inline: 32px 0;
  border-radius: 8px;
  background: #fff;
  color: var(--c-primary);
  font-weight: 700;
}
.c-checked-item::before {
  content: "✔";
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  width: 29px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: #fff;
  background: var(--c-primary);
}

/* Component***
    --------------------------------------------------------- */
/*汎用コンポーネント
   *********************/
/* Project**
    --------------------------------------------------------- */
/*header
   *********************/
.p-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 11px;
  padding-inline: var(--side-margin);
}

.p-header__title {
  width: 8.6875rem;
  aspect-ratio: 139/43;
}
.p-header__title img {
  width: 100%;
  height: 100%;
}

.p-header__link {
  width: 132px;
  height: 48px;
}

.p-fv__inner {
  display: grid;
  grid-template-areas: "mv" "desc" "icon" "fee" "link";
  justify-items: center;
  padding-inline: var(--side-margin);
}

.p-fv__mv-box {
  grid-area: mv;
  display: grid;
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: clip;
}
.p-fv__mv-box > * {
  grid-area: 1/1/-1/-1;
}

.p-fv__mv {
  width: 100%;
  aspect-ratio: 345/276;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-fv-catchphrase {
  place-self: end start;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--c-white);
}

.p-fv-title__text {
  border-radius: 8px;
  padding: 4px;
  background: var(--c-primary-a-0);
}

.p-fv-doctor {
  place-self: end end;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2px;
  position: relative;
  bottom: 9px;
  right: 8px;
  padding: 7px 17px 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
}

.p-fv-doctor__title {
  font-size: 9px;
}

.p-fv-doctor__name {
  font-size: 16px;
  font-weight: 700;
}

.p-fv__desc {
  grid-area: desc;
  font-size: 18px;
  padding-block: 4px 13px;
}

.p-fv__features {
  grid-area: icon;
  display: flex;
  justify-content: space-between;
  padding-inline: 6px;
  width: 100%;
}

.p-fv__fee {
  grid-area: fee;
  padding-top: 14px;
  width: 100%;
}

.p-fee-card {
  display: flex;
  gap: 27px;
  width: 100%;
  height: 66px;
  border-radius: 10px;
  overflow: clip;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.p-fee-card__title {
  display: flex;
  align-items: center;
  width: 24%;
  color: #fff;
  padding-left: 18px;
  font-size: 18px;
  font-weight: 700;
  background: var(--c-primary);
  -webkit-clip-path: circle(100% at 0 center);
          clip-path: circle(100% at 0 center);
}

.p-fee-card__desc {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
}

.p-fee-card__preamble {
  line-height: 1.2;
  font-weight: 700;
  font-size: 15px;
}

.p-fee-card__price {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

.p-fee-card__comma {
  font-size: 18px;
}

.p-fee-card__unit {
  font-size: 17px;
}

.p-fee-card__supplement {
  line-height: 1.1;
  text-align: center;
  font-size: 12px;
}

.p-fv__link {
  grid-area: link;
  display: flex;
  flex-flow: column;
  gap: 6px;
}

.p-concerns {
  padding-block: 5rem;
  padding-inline: var(--side-margin);
}

.p-concerns__title {
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: center;
  font-size: 1rem;
}

.p-concern__contents {
  display: flex;
  flex-flow: column;
  background: #ddd;
}

.p-concern__list {
  display: flex;
  flex-flow: column;
  gap: 19px;
}

/* cta */
.p-cta {
  position: relative;
  display: grid;
  justify-items: center;
  padding: 32px 18px;
  background: var(--c-accent-02);
}

.p-cta__into-text {
  position: absolute;
  top: -16px;
  width: 160px;
  aspect-ratio: 160/44;
  padding-top: 2px;
  background: linear-gradient(to bottom, rgba(152, 215, 255, 0.6666666667) 17.49%, rgba(68, 157, 208, 0.6666666667) 80.19%);
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.p-cta__box {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  background: #fff;
  padding: 43px 21px;
  color: var(--c-primary);
}
.p-cta__box::before {
  content: "";
  z-index: -1;
  position: absolute;
  display: inline-block;
  inset: 8px;
  border-radius: 13px;
  border: 2px solid currentColor;
}

.p-cta__action-text {
  display: flex;
  justify-content: center;
}

.p-cta-links {
  display: flex;
  flex-flow: column;
  gap: 24px;
  padding-top: 14px;
}