@charset "utf-8";
@use "sass:math";
/* =========================================================
  Foundation
  ========================================================== */

/* Reset Base
  --------------------------------------------------------- */
@use "reset/reset";
@use "base/index" as *;

/* =========================================================
 *   Layout
 *========================================================== */
// layout
@use "layout/layout";

/* =========================================================
    Object
  ========================================================== */

/* Component
  --------------------------------------------------------- */

/*汎用コンポーネント
 *********************/
@use "component/index";

// ロード画面
.c-loading-screen {
  --foo: ;
}

.c-google-map {
  --foo: ;
}

/* Project
  --------------------------------------------------------- */

/*全ページ共通
 *********************/

// ヘッダー
.p-header {
  --foo: ;
}

// メイン
.p-main {
  --foo: ;
}

// サイドメニュー
.p-aside {
  --foo: ;
}

// フッター
.p-footer {
  --foo: ;
}

// モーダル
.p-modal {
  --foo: ;
}

/*個別ページ用
 *********************/

// [セクション名]
.p-[sectionName] {
  --foo: ;
}

.p-[sectionName]__content {
  --foo: ;
}

.p-[sectionName]__background {
  --foo: ;
}

.p-[sectionName]__foreground {
  --foo: ;
}

// ファーストビュー
.p-first-view {
  --foo: ;
}

// フォーム
.p-[name]-form {
  --foo: ;
}

.p-[name]-form__list {
  --foo: ;
}

.p-[name]-form__item {
  --foo: ;
}

.p-[name]-form__submit {
  --foo: ;
}

// 機能名

/* Utility
  --------------------------------------------------------- */

// 機能名
