@charset "utf-8";
@use "sass:math";
/* =========================================================
  Foundation
  ========================================================== */

/* Reset Base
  --------------------------------------------------------- */
@use "reset/reset";
@use "base/index" as *;

/* =========================================================
 *   Layout
 *========================================================== */
// layout
@use "layout/layout";

/* =========================================================
    Object
  ========================================================== */

/* Component
  --------------------------------------------------------- */

/*汎用コンポーネント
 *********************/
@use "component/index";

// 文字縁取り用
.c-stroke-white {
  filter: url(#stroke-white);
}

/* Project
  --------------------------------------------------------- */
/*header
   *********************/
.p-header {
  display: flex;
  justify-content: center;
  padding-inline: var(--side-space);
}

.p-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--contents);
  padding-block: pxToRem(11);
}

.p-header__title {
  width: liquid(139);
  aspect-ratio: 139/ 43;
  & img {
    width: 100%;
    height: 100%;
  }
}

.p-header__link {
  width: liquid(132);
  aspect-ratio: 132/ 48;
}

/*
  Project**
  ---------------------------------------------------------
  */

/* ファーストビュー
  --------------------------------------------------------- */
.p-fv {
  display: flex;
  justify-content: center;
  padding-bottom: liquid(32);
}

.p-fv__inner {
  display: grid;
  grid-template-areas:
    "mv"
    "desc"
    "icon"
    "fee"
    "link";
  justify-items: center;
  width: min(100%, pxToRem(375));
  padding-inline: liquid(10);
}

.p-fv__mv-box {
  grid-area: mv;
  display: grid;
  position: relative;
  width: 100%;
  border-radius: liquid(10);
  overflow: clip;
  & > * {
    grid-area: 1/ 1/ -1/ -1;
  }
}

.p-fv__mv {
  width: 100%;
  aspect-ratio: 357/ 276;
  object-fit: cover;
}

.p-fv-catchphrase {
  place-self: end start;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: liquid(8);
  position: relative;
  left: liquid(5);
  bottom: liquid(24);
  font-size: liquid(24);
  font-weight: 700;
  letter-spacing: 0;
  color: $c-white;
}

.p-fv-title__text {
  border-radius: liquid(8);
  padding: liquid(4);
  background: $c-primary-a90;
}

.p-fv-doctor {
  place-self: end end;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2px;
  position: relative;
  bottom: liquid(6);
  right: liquid(8);
  padding: liquid(7) liquid(20);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
}

.p-fv-doctor__title {
  font-size: liquid(9);
}

.p-fv-doctor__name {
  font-size: liquid(16);
  font-weight: 700;
}

.p-fv__desc {
  grid-area: desc;
  font-size: liquid(18);
  padding-block: liquid(6) liquid(13);
}

.p-fv__features {
  grid-area: icon;
  display: flex;
  gap: liquid(16);
  justify-content: center;
  padding-inline: liquid(9);
  width: 100%;
}

.p-fv__fee {
  grid-area: fee;
  padding-top: liquid(14);
  width: 100%;
  padding-inline: liquid(12);
}

.p-fee-card {
  display: flex;
  gap: liquid(18);
  width: 100%;
  height: liquid(66);
  border-radius: liquid(10);
  overflow: clip;
  background: $c-white;
  box-shadow: 0 0 liquid(7) rgb(0 0 0/0.3);
}

.p-fee-card__title {
  display: flex;
  align-items: center;
  width: 26%;
  color: $c-white;
  padding-left: liquid(18);
  font-size: liquid(18);
  font-weight: 700;
  background: $c-primary;
  clip-path: circle(100% at 0 center);
}

.p-fee-card__desc {
  display: flex;
  align-items: center;
  gap: liquid(5);
  color: #333;
}

.p-fee-card__preamble {
  line-height: 1.2;
  font-weight: 700;
  font-size: liquid(15);
}

.p-fee-card__price {
  font-size: liquid(35);
  font-style: normal;
  font-weight: 700;
}

.p-fee-card__comma {
  font-size: liquid(18);
}
.p-fee-card__unit {
  font-size: liquid(17);
}

.p-fee-card__supplement {
  line-height: 1.1;
  text-align: center;
  font-size: liquid(12);
  padding-left: liquid(4);
}

.p-fv__link {
  grid-area: link;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: liquid(5);
  padding-top: liquid(14);
  padding-inline: liquid(5);
  width: 100%;
}

/* お悩み
  --------------------------------------------------------- */
.p-concerns {
  display: flex;
  justify-content: center;
  padding-block: liquid(36) liquid(41);
  background: url(../images/bg-concerns.webp) center/cover;
}

.p-concerns__inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: var(--contents);
}

.p-concerns__title {
  display: flex;
  flex-flow: column;
  gap: liquid(13);
  align-items: center;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.p-concerns__em-decoration {
  position: relative;
  font-size: 1.5em;
  background: radial-gradient(circle at center, $c-primary 20%, transparent 20%)
    top right/ 1em 0.3em repeat-x;
  padding-top: 0.1em;

  &::after {
    content: "";
    position: absolute;
    bottom: 60%;
    left: 100%;
    width: 0.5em;
    aspect-ratio: 14/ 17;
    background: url(../images/icon-concerns.svg) center/cover;
  }
}

.p-concerns__contents {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-top: liquid(36);
}

.p-concerns__list {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: liquid(21);
}

.p-concerns__item {
  display: flex;
  align-items: center;
  position: relative;
  padding-inline: liquid(40) 0;
  border-radius: liquid(8);
  background: $c-white;
  color: $c-primary;
  font-weight: 700;

  &::before {
    content: "";
    display: grid;
    place-items: center;
    position: absolute;
    left: 0;
    width: liquid(29);
    aspect-ratio: 1/ 1;
    border-radius: 50%;
    color: $c-white;
    background: url(../images/icon-check.svg) center/cover;
  }
}

.p-concern__img {
  display: grid;
  place-items: center;
  width: liquid(312);
  height: liquid(312);
  margin-top: liquid(-12);

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-concern__caution {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: liquid(12);
  font-weight: 500;
  padding-top: liquid(14);
  text-align: center;

  & .m-small {
    font-size: 0.875em;
  }

  & .m-decoration {
    position: relative;
    font-size: 1.25em;
    font-weight: 700;
    color: $c-primary;
    letter-spacing: 0.05em;
    line-height: 1.2;

    &::after {
      content: "";
      position: absolute;
      bottom: 60%;
      left: 94%;
      width: 1em;
      aspect-ratio: 22/ 21;
      background: url(../images/icon-surprise.svg) center/cover;
    }
  }
}

/* CTA
  --------------------------------------------------------- */
.p-cta {
  display: flex;
  justify-content: center;
  background: url(../images/bg-cta.webp) center/cover;
}

.p-cta__inner {
  position: relative;
  display: grid;
  justify-items: center;
  width: var(--contents);
  padding-block: liquid(32);
  padding-inline: liquid(3);
}

.p-cta__into-text {
  position: absolute;
  top: liquid(-16);
  width: liquid(160);
  aspect-ratio: 160/ 44;
  padding-top: liquid(1);
  background: linear-gradient(to bottom, #76c4eedd 17.49%, #449dd0dd 80.19%);
  color: $c-white;
  text-align: center;
  font-size: liquid(12);
  line-height: 1.3;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.p-cta__box {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: liquid(21);
  background: $c-white;
  padding: liquid(43) liquid(21);
  color: $c-primary;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    display: inline-block;
    inset: liquid(8);
    border-radius: liquid(13);
    border: liquid(3) solid currentColor;
  }
}

.p-cta__action-text {
  display: flex;
  justify-content: center;
}

.p-cta-links {
  display: flex;
  flex-flow: column;
  gap: liquid(24);
  padding-top: liquid(14);
  padding-inline: liquid(8);
}
/* 睡眠時無呼吸症候群について
  --------------------------------------------------------- */
.p-sleep-apnea {
  display: flex;
  justify-content: center;
  padding-block: liquid(35);
}

.p-sleep-apnea__inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: var(--contents);
}

.p-sleep-apnea__about {
  display: flex;
  flex-flow: column;
  gap: liquid(16);
  padding-block: liquid(23) liquid(34);
}

.p-sleep-apnea__img {
  width: 100%;
  aspect-ratio: 345/ 230;
  border-radius: liquid(10);
}

.p-sleep-apnea__texts {
  font-size: liquid(18);
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.p-sleep-apnea__caution {
  position: relative;
  font-size: liquid(24);
  font-weight: 700;
  padding-bottom: liquid(24);

  &::after {
    content: "";
    position: absolute;
    width: 0.91em;
    top: liquid(-13);
    right: liquid(58);
    aspect-ratio: 22/23;
    background: url(../images/icon-bad.svg) center/cover;
  }
}

.p-sleep-apnea__risk {
  display: flex;
  flex-flow: column;
  gap: liquid(49);
  width: 100%;
  padding-block: liquid(43);
}

.p-risk-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-bottom: liquid(10);
  overflow: clip;
  border-radius: liquid(8);
  border: 1px solid $c-light-gray-2;
  background: $c-secondary;
}

.p-risk-card__title {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  height: liquid(45);
  gap: liquid(8);
  font-size: liquid(20);
  font-weight: 700;
  background: $c-primary;
  color: $c-white;

  &::after {
    content: "";
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
  }

  &.m-complications::after {
    width: liquid(26);
    background-image: url(../images/icon-health-risk.svg);
  }

  &.m-accident::after {
    width: liquid(34);
    background-image: url(../images/icon-accident-risk.svg);
  }
}

.p-risk-card__text {
  padding-top: liquid(16);
  font-size: liquid(20);
  font-weight: 500;
}

.p-risk-card__incidence {
  font-size: liquid(20);
  font-weight: 700;
  padding-top: liquid(8);
}

.p-risk-card__number {
  font-size: 2.3em;
}

.p-risk-card__illustration {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-top: liquid(10);
  padding-inline: liquid(9);
}

.p-risk-card__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: liquid(16);
  width: 100%;
}

.p-risk-card__etc {
  align-self: flex-end;
  font-size: liquid(14);
}

.p-sleep-apnea__references {
  padding-top: liquid(11);
  padding-left: liquid(8);
  line-height: 1.25;

  & > small {
    font-size: liquid(11);
  }
}

.p-sleep-apnea__conclusion {
  text-align: center;
  padding-bottom: liquid(18);

  & > .m-large {
    font-size: 1.25em;
  }
}

.p-sleep-apnea__cured-img {
  width: 100%;
  aspect-ratio: 345/ 309;
  border-radius: liquid(10);
  overflow: clip;

  & > img {
    width: 100%;
    height: 100%;
  }
}

/* 病院紹介
  --------------------------------------------------------- */

.p-about-clinic {
  display: flex;
  justify-content: center;
  padding-bottom: liquid(38);
}

.p-about-clinic__inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: var(--contents);
}

.p-about-clinic__contents {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: liquid(16);
  padding-top: liquid(24);
}

.p-about-clinic__img-01 {
  width: 100%;
  border-radius: liquid(10);
  overflow: clip;
  aspect-ratio: 345/ 243;
  padding-bottom: liquid(4);

  & > img {
    width: 100%;
    height: 100%;
  }
}

.p-about-clinic__desc {
  display: flex;
  flex-flow: column;
  gap: liquid(14);
  font-size: liquid(18);
  color: $c-black;
}

.p-outpatient-icons {
  display: flex;
  justify-content: center;
  gap: liquid(16);
}

.p-about-clinic__img-02 {
  padding-top: liquid(22);
}

.p-about-clinic__online {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: liquid(8);
  width: 100%;
}

.p-online__title {
  font-weight: 700;
  font-size: liquid(16);
  color: $c-primary;
}

.p-online__text {
  font-size: liquid(13);
  line-height: 1.6;
  text-align: center;
  padding-bottom: liquid(10);
}

.p-online-merits {
  width: 100%;
  padding-block: liquid(24);
  border-radius: liquid(10);
  background: $c-secondary;
}

.p-online-merits__title {
  text-align: center;
  font-size: liquid(14);
  font-weight: 700;
}

.p-online-merits__desc-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: liquid(16);
  padding-top: liquid(20);
}

.p-online-merits__desc {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  font-size: liquid(12);

  &::before {
    content: "";
    aspect-ratio: 1/ 1;
    background-position: center;
    background-size: cover;
  }

  &.m-merits-01 {
    width: 100%;
    gap: liquid(8);
    &::before {
      width: liquid(34);
      background-image: url(../images/icon-merits-01.svg);
    }
  }
  &.m-merits-02 {
    width: 45%;
    gap: liquid(8);
    &::before {
      width: liquid(46);
      background-image: url(../images/icon-merits-02.svg);
    }
  }
  &.m-merits-03 {
    width: 45%;
    gap: liquid(12);
    &::before {
      width: liquid(42);
      background-image: url(../images/icon-merits-03.svg);
    }
  }
}

/* 選ばれる理由
  --------------------------------------------------------- */
.p-reason {
  display: flex;
  justify-content: center;
  background: $c-secondary;
  padding-block: liquid(32);
}

.p-reason__inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: var(--contents);
}

.p-reason__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: liquid(42);
  width: 100%;
  padding-top: liquid(50);
}

.p-reason-card {
  display: flex;
  flex-flow: column;
  gap: liquid(8);
  position: relative;
  padding: liquid(15) liquid(16) liquid(11);
  height: 100%;
  border-radius: liquid(10);
  border: 1px solid $c-light-gray-2;
  background: $c-white;

  &::after {
    content: "";
    position: absolute;
    top: liquid(28);
    right: liquid(24);
    width: liquid(40);
    aspect-ratio: 1/ 1;
    background-size: cover;
    background-position: center;
  }

  &.m-reason-01::after {
    background-image: url(../images/icon-reason-01.svg);
  }
  &.m-reason-02::after {
    background-image: url(../images/icon-reason-02.svg);
  }
  &.m-reason-03::after {
    background-image: url(../images/icon-reason-03.svg);
  }
  &.m-reason-04:after {
    background-image: url(../images/icon-reason-04.svg);
  }
  &.m-reason-05::after {
    background-image: url(../images/icon-reason-05.svg);
  }
}

.p-reason-card__number {
  --length: #{liquid(18)};
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  top: calc(-1 * var(--length));
  width: liquid(58);
  aspect-ratio: 58/ 60;
  padding-top: liquid(9);
  background: $c-primary;
  font-size: liquid(7);
  font-weight: 900;
  letter-spacing: 0.04em;
  color: $c-white;
  clip-path: polygon(0 0, 150% 0, 150% 100%, 100% 100%, 50% 80%, 0 100%);

  & > .m-large-en {
    font-family: $font-en;
    font-weight: 700;
    font-size: liquid(22);
    line-height: 1;
  }

  &::after {
    content: "";
    position: absolute;
    height: var(--length);
    aspect-ratio: 10 /18;
    top: 0;
    left: 100%;
    background: $c-accent-01;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
  }
}

.p-reason-card__title {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: liquid(18);
  padding-bottom: liquid(7);
  border-bottom: 1px solid $c-light-gray-3;
  line-height: 1.4;

  & > .c-em-primary {
    font-size: liquid(20);
    line-height: 1.3;
  }
}

.p-reason-card__text {
  padding-inline: liquid(11);
}

/* 医師情報
  --------------------------------------------------------- */
.p-about-doctor {
  display: flex;
  justify-content: center;
  padding-block: liquid(32) liquid(40);
}

.p-about-doctor__inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: liquid(24);
  width: var(--contents);
}

.p-about-doctor__title {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: liquid(3);
  font-size: liquid(24);
}

.p-about-doctor__contents {
  display: flex;
  flex-flow: column;
  gap: liquid(24);
  width: 100%;
  padding: liquid(24) liquid(16);
  border-radius: liquid(10);
  background: $c-secondary;
}

.p-doctor-info {
  display: flex;
  flex-flow: column;
  gap: liquid(16);
}

.p-doctor-info__sub-box {
  display: grid;
  place-items: end center;
  position: relative;
  padding-inline: liquid(2);

  & > * {
    grid-area: 1/ 1/ -1/ -1;
  }
}

.p-doctor-info__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-doctor-info__name-box {
  display: flex;
  align-items: center;
  gap: liquid(9);
  position: relative;
  bottom: liquid(8);
  padding-block: liquid(4);
  padding-inline: liquid(10);
  border-radius: liquid(8);
  background: $c-primary-a80;
  color: $c-white;
}

.p-doctor-info__title {
  font-size: liquid(14);
}

.p-doctor-info__name {
  font-size: liquid(32);
  line-height: 1;
  font-weight: 700;
}

.p-doctor__list {
  font-size: liquid(13);
  font-weight: 500;

  & > li {
    display: flex;
    line-height: 1.7;

    &::before {
      content: "・";
    }
  }
}

.p-doctor-biography {
  display: flex;
  flex-flow: column;
  gap: liquid(8);
}

.p-doctor-biography__title {
  font-size: liquid(20);
  color: $c-primary;
}

/* 診療の流れ
  --------------------------------------------------------- */
.p-flow {
  display: flex;
  justify-content: center;
  padding-block: liquid(32);
}

.p-flow__inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: var(--contents);
}
.p-flow__list {
  display: flex;
  flex-flow: column;
  gap: liquid(24);
  padding-top: liquid(24);
}

.p-flow-card {
  display: flex;
  flex-flow: column;
  gap: liquid(16);
  padding: liquid(24) liquid(16) liquid(26);
  border-radius: liquid(10);
  background: $c-secondary;
}

.p-flow-card__title-area {
  display: flex;
  align-items: center;
  gap: liquid(16);
}

.p-flow-card__step-icon {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: liquid(46);
  aspect-ratio: 1/ 1;
  border-radius: 50%;
  background: $c-primary;
  color: $c-white;
  font-size: liquid(7);
  font-weight: 700;

  & > .m-large-en {
    font-family: $font-en-2;
    font-weight: 700;
    font-size: liquid(22);
    line-height: 1;
  }
}

.p-flow-card__title {
  font-size: liquid(22);
  color: $c-primary;
  font-weight: 700;
}

.p-flow-card__img {
  width: 100%;
  height: 100%;
}

.p-flow-card__text {
  text-align: justify;
  line-height: 1.6;
}

/* アクセス
  --------------------------------------------------------- */
.p-access {
  display: flex;
  justify-content: center;
  padding-block: liquid(32);
}

.p-access__inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: var(--contents);
}

.p-access__contents {
  display: flex;
  flex-flow: column;
  gap: liquid(16);
  padding-block: liquid(24) liquid(16);
}

.p-clinic-info {
  border-top: 1px solid $c-light-gray-4;
  border-bottom: 1px solid $c-light-gray-4;
}

.p-clinic-info__group {
  display: flex;
  flex-flow: column;
  gap: liquid(8);
  padding: liquid(15);

  &:not(:last-child) {
    border-bottom: 1px solid $c-light-gray-4;
  }
}

.p-clinic-info__title {
  font-weight: 700;
}

.p-clinic-info__desc {
  font-weight: 500;
  font-size: liquid(14);
}

.p-consultation-hours {
  border-radius: liquid(8);
  background: $c-secondary;
  overflow: clip;
  padding-bottom: liquid(16);
}

.p-consultation-hours__table {
  width: 100%;

  & caption {
    caption-side: bottom;
    font-weight: 700;
    font-size: liquid(12);
    text-align: left;
    padding-inline: liquid(16);
  }

  & tr {
    display: flex;
    justify-content: space-between;
    padding: liquid(16);

    &:not(:last-child) {
      border-bottom: 1px solid $c-light-gray-4;
    }
  }

  & th {
    width: liquid(14);
    font-size: liquid(13);
    font-weight: 700;
    text-align: center;

    &.m-row-header {
      width: liquid(86);
      flex-shrink: 0;
      text-align: left;
    }
  }

  & td {
    width: liquid(14);
    font-size: liquid(10);
    color: $c-primary;
    text-align: center;

    &.m-black {
      color: $c-dark-gray-1;
    }
  }
}

.p-google-map {
  border-radius: liquid(8);
  overflow: clip;
}

/* よくある問い合わせ
  --------------------------------------------------------- */
.p-faq {
  display: flex;
  justify-content: center;
  padding-block: liquid(32);
}

.p-faq__inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: var(--contents);
}

.p-faq__lists {
  display: flex;
  flex-flow: column;
  gap: liquid(16);
  width: 100%;
  padding-top: liquid(24);
}

/* フッター
  --------------------------------------------------------- */
.p-footer {
  display: flex;
  justify-content: center;
  padding-block: liquid(20);
  background: $c-secondary;
  margin-bottom: liquid(80);
}

.p-footer__inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: liquid(16);
  width: var(--contents);
}

.p-footer__address {
  font-size: liquid(14);
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

/* 追随CTA
  --------------------------------------------------------- */
.p-fixed-cta {
  display: flex;
  justify-content: center;
  width: 100%;
  height: liquid(80);
  background: $c-secondary;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.p-fixed-cta__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: liquid(8);
  width: var(--contents);
}

.p-fixed-cta__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: liquid(31);
  border-radius: 100vmax;
  color: $c-white;
  text-decoration: none;
  line-height: 1.5;
  // アイコン有基本
  padding-inline: liquid(13) liquid(9);
  font-size: liquid(11);
  font-weight: 700;

  // 色指定
  &.m-reserve {
    background: $c-primary;
  }

  &.m-consult {
    background: $c-line;
  }

  &::before,
  &::after {
    content: "";
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1/ 1;
  }

  &::before {
    width: liquid(18);
  }

  &.m-reserve::before {
    background-image: url(../images/icon-reserve.svg);
  }

  &.m-consult::before {
    background-image: url(../images/icon-consult.svg);
  }

  &::after {
    width: liquid(14);
    background-image: url(../images/icon-right-arrow.svg);
  }
}

/* アニメーション
  --------------------------------------------------------- */
@keyframes shine {
  0% {
    background-position: right center;
  }
  20% {
    background-position: right center;
  }
  25% {
    background-position: left center;
  }
  100% {
    background-position: left center;
  }
}
