@use "../base/index" as *;
// layout
.l-body-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "main"
    "footer";

  min-height: 100vh;
  overflow: clip;

  &:has(.l-aside) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "main   aside"
      "footer footer";

    @include mq(md) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "main"
        "aside"
        "footer";
    }
  }
}

.l-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.l-main {
  grid-area: main;
}

.l-aside {
  grid-area: aside;
  align-self: start;
  // position: sticky;
}

.l-footer {
  grid-area: footer;
}

.l-modal {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.l-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.l-foreground {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
}

// SVGの文字縁取り
.l-svg-mask {
  position: fixed;
  visibility: hidden;
  top: 0;
  z-index: -9999;
}
