@use "../base/index" as *;
// 汎用コンポーネント
// 汎用タイトル
.c-common-title {
  font-size: liquid(24);
  font-weight: 700;
}

// 汎用強調
.c-em-primary {
  font-weight: 700;
  color: $c-primary;
}

// リンクボタン
.c-link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vmax;
  color: $c-white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  line-height: 1.5;

  // 色指定
  &.m-reserve {
    background: $c-primary;
  }

  &.m-consult {
    background: $c-line;
  }

  // アイコン有基本
  &.m-has-icon {
    justify-content: space-between;
    height: liquid(52);
    padding-inline: liquid(24) liquid(13);
    font-size: liquid(19);
    font-weight: 700;

    &::before,
    &::after {
      content: "";
      flex-shrink: 0;
      background-position: center;
      background-size: cover;
      aspect-ratio: 1/ 1;
    }

    &::before {
      width: liquid(26);
    }

    &.m-reserve::before {
      background-image: url(../images/icon-reserve.svg);
    }

    &.m-consult::before {
      background-image: url(../images/icon-consult.svg);
    }

    &::after {
      width: liquid(24);
      background-image: url(../images/icon-right-arrow.svg);
    }
  }

  // ヘッダーメニュー用
  &.m-2line {
    flex-flow: column;
    gap: liquid(4);
    font-size: liquid(14);
    padding-bottom: liquid(8);
    line-height: 1;
  }

  // fv用
  &.m-fv {
    height: liquid(63);
    font-size: liquid(24);
    font-weight: 700;
    padding-inline: liquid(28) liquid(20);

    &::before {
      width: liquid(32);
    }

    &::after {
      width: liquid(30);
    }
  }
}

// 販促テキスト用
.c-action-text {
  display: flex;
  position: relative;
  align-items: baseline;
  justify-content: center;

  &::before,
  &::after {
    content: "";
    background-position: center;
    background-size: cover;
  }

  // ヘッダーメニューの装飾用
  &.m-slash-w-01 {
    gap: liquid(2);
    font-size: liquid(9);
    & > .c-large {
      font-size: liquid(15);
    }
    &::before,
    &::after {
      width: liquid(10);
      aspect-ratio: 10/ 11;
      translate: 0 liquid(2);
    }
    &::before {
      background-image: url(../images/icon-slash-w01-left.svg);
    }
    &::after {
      background-image: url(../images/icon-slash-w01-right.svg);
    }
  }

  // fvの販促テキスト用
  &.m-fv {
    gap: liquid(5);
    font-weight: 700;
    font-size: liquid(17);

    &::before,
    &::after {
      width: liquid(23);
      aspect-ratio: 23/ 17;
    }
    &::before {
      background-image: url(../images/icon-slash-s-left.svg);
    }
    &::after {
      background-image: url(../images/icon-slash-s-right.svg);
    }
  }

  // CTAの販促用テキスト
  &.m-cta {
    gap: liquid(3);
    font-weight: 700;
    letter-spacing: 0.04em;

    &::before,
    &::after {
      position: absolute;
      width: liquid(20);
      aspect-ratio: 20/ 30;
    }
    &::before {
      left: 0;
      background-image: url(../images/icon-slash-w02-left.svg);
    }
    &::after {
      right: liquid(-2);
      background-image: url(../images/icon-slash-w02-right.svg);
    }
  }
}

/* 丸アイコン */
.c-rounded-icon {
  display: grid;
  place-items: center;
  grid-template-rows: 30% 40%;
  gap: 10%;
  width: min(100%, liquid(100));
  aspect-ratio: 1/ 1;
  border-radius: 50%;
  padding-block: liquid(10);
  border: liquid(3) solid currentColor;
  color: $c-primary;
  background: $c-white;
  box-shadow: 0 0 liquid(3) rgb(0 0 0/0.3);
  text-align: center;
  font-size: liquid(13);
  font-weight: 700;
  line-height: 1.3;

  &::before {
    content: "";
    width: liquid(30);
    aspect-ratio: 1/ 1;
    background-position: center;
    background-size: cover;
  }

  // 中サイズ {
  &.m-middle {
    gap: 10%;
    width: min(100%, liquid(84));
    padding-top: liquid(14);

    &::before {
      width: liquid(28);
    }
  }

  // fvの特徴
  &.m-features-01::before {
    background-image: url(../images/icon-features-01.svg);
  }
  &.m-features-02::before {
    background-image: url(../images/icon-features-02.svg);
  }
  &.m-features-03::before {
    background-image: url(../images/icon-features-03.svg);
  }

  // 病気リスク
  &.m-complications-01::before {
    background-image: url(../images/icon-complications-01.webp);
  }
  &.m-complications-02::before {
    background-image: url(../images/icon-complications-02.webp);
  }
  &.m-complications-03::before {
    background-image: url(../images/icon-complications-03.webp);
  }
}

// 格子状のテキスト
.c-box-text {
  display: inline-grid;
  place-items: center;
  padding: liquid(2);
  border: liquid(1) solid currentColor;
  color: $c-primary;
  background: $c-white;
  font-size: liquid(24);
  line-height: 1;
}

// アコーディオンメニュー制御用
.c-accordion {
  --duration: 500ms;
  width: 100%;
  padding: 0;
  border-radius: 0.625rem;
  background: $c-white;
  box-shadow: 0 0 4px rgb(0 0 0/0.25);
  overflow: clip;
  color: #449dd0;
}

.c-accordion__question {
  display: grid;
  grid-template-columns: 1fr 1rem;
  align-items: center;
  padding: 1rem;
  font-weight: 700;
  background: $c-white;
  font-size: 1.25rem;
  transition: background 0.25s linear, color 0.25s linear;

  &::before,
  &::after {
    content: "";
    grid-area: 1/ 2/ -1/ 3;
    display: grid;
    place-items: center;
    height: 2px;
    background-color: currentColor;
  }

  &::before {
    rotate: 90deg;
    transition: rotate ease-out var(--duration);
  }

  .c-accordion.is-open & {
    color: $c-white;
    background: #449dd0;
  }

  .c-accordion.is-open &::before {
    rotate: 0deg;
  }
}

.c-accordion__answer {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition: grid-template-rows var(--duration) ease-out,
    padding-top var(--duration) ease-out, opacity var(--duration) linear;

  .c-accordion.is-open & {
    grid-template-rows: 1fr;
    padding-top: 1rem;
    opacity: 1;
  }
}

.c-accordion__answer-box {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  overflow: hidden;
}
