@use "../base/index" as *;
// スライダー用

// スライダー用のグリッドに指定
.c-slider {
  display: grid;

  &>.c-slider__item {
    grid-area: 1/ 1/ 2/ 2;
    opacity: 0;
    z-index: -1;
    transform: translate(0);
    transition: all 0.5s;

    &.is-active {
      opacity: 1;
      z-index: 1;
      transform: translate(0);
    }

    &.is-prev {
      opacity: 0;
      z-index: 0;
      transform: translate(-100%);
    }

    &.is-next {
      opacity: 0;
      z-index: 0;
      transform: translate(100%);
    }
  }
}

// スライダー制御用のボタン
.c-slider__button {
  --foo: ;


  &:where(.m-play) {
    --foo: ;
  }

  &:where(.m-pause) {
    --foo: ;
  }

  &:where(.m-next) {
    --foo: ;
  }

  &:where(.m-prev) {
    --foo: ;
  }
}

.c-dots {
  display: flex;
  gap: pxToRem();
}

.c-dots__item {
  width: 100%;
  aspect-ratio: 1/ 1;
  border-radius: 50%;
}

.c-progress {
  --foo: ;
}

.c-pagination {
  display: flex;
  gap: pxToRem();

  &>li {
    --foo: ;
  }
}

.c-bread-crumbs {
  display: flex;
  gap: pxToRem();

  &>li {
    --foo: ;
  }
}